<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.ultari.atsmart.basic"
    android:versionCode="2016040500"
    android:versionName="5.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
 	<uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    
    <!-- Device Permission -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Media Permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature    android:name="android.hardware.camera" android:required="false" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <!-- for GCM -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="kr.co.ultari.atsmart.basic.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        android:largeHeap="true"
        android:largeScreens = "true"
        android:launchMode="singleInstance"
        android:anyDensity = "true"  >
 		
        <!-- For IPageOn from here --><!-- android:launchMode="singleInstance" -->
        <activity android:name="kr.co.ultari.atsmart.ipocall.CallWindow" android:launchMode="singleInstance" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
        <activity android:name="kr.co.ultari.atsmart.ipocall.CallReplayList" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
        <activity android:name="kr.co.ultari.atsmart.ipocall.CallSelectUser" android:launchMode="singleInstance" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
        
        <service
	        android:name="kr.co.ultari.atsmart.ipocall.CallService"
	        android:exported="false"
	        android:launchMode="singleInstance" >
	        <intent-filter>
	            <action android:name="kr.co.ultari.atsmart.ipocall.CallService" />
	        </intent-filter>
	    </service>
	    
        <receiver
            android:name="kr.co.ultari.atsmart.ipocall.CallServiceStarter"
            android:enabled="true"
            android:label="Broadcast Receiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="kr.co.ultari.atsmart.ipocall.PSTNCallReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE" />
			</intent-filter>
        </receiver>
        
        <!-- For IPageOn to here -->
        
        <!-- For GCM -->
         <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:name=".AtSmart"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.AlertDialog"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.Launcher"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".subview.SubWindowForActivityResult"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".subview.PhotoEdit"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name="kr.co.ultari.atsmart.basic.view.FileBrowser"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name"/>
        <activity
            android:name=".subview.ConfigServerInfo"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".subview.ConfigAutoDelete"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".subview.ConfigNickName"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".subview.ConfigPhoto"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name=".subview.UserInfo"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name=".subview.Waiter"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" />
        
        <activity
            android:name=".subview.OptionDialog"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".view.ChatWindow"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="AtSmart"
                    android:scheme="messenger" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WebDialog"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity 
            android:name=".view.LogoView"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".service.AtSmartService"
            android:exported="false"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="kr.co.ultari.atsmart.basic.service.StartService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".service.AtSmartServiceStarter"
            android:enabled="true"
            android:label="Broadcast Receiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="ACTION.RESTART.PersistentService" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="kr.co.ultari.atsmart.basic.service.NetworkStatusReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        
        <activity 
            android:name=".view.NotificationRoot"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- For GCM -->
        <receiver
            android:name="kr.co.ultari.atsmart.basic.service.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="kr.co.ultari.atsmart.basic" />
            </intent-filter>
        </receiver>
        
        <service android:name=".service.GcmIntentService" />
        <activity 
            android:name=".control.ImageViwer"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".subview.ImageSwitcherView"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            	  android:name=".subview.NameLoginDialog"
                  android:theme="@android:style/Theme.Dialog"
                  android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name=".subview.backgroundDialog"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            	  android:name=".view.MyFolderView"
            	  android:windowSoftInputMode="adjustResize|stateHidden"
            	  android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".subview.ServerInfo"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity 
            android:name=".subview.SendNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        
        <!-- 2016-04-04 -->
        <activity android:name=".subview.PinInputDialog"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="kr.co.ultari.atsmart.basic.control.PinEntryView"
            	  android:screenOrientation="portrait"
            	  android:launchMode="singleTask" >
        </activity>
        <!---->
        
        <activity 
            android:name=".subview.AppInstall"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".subview.NotifyDialog"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".view.AccountView"
          	android:windowSoftInputMode="stateAlwaysHidden"
          	android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".subview.NetworkInfo"
          	android:screenOrientation="portrait"
          	android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity 
            android:name=".subview.ContactResultDialog"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".control.BackFakeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".subview.ContactDetail"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".subview.ContactAddView"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".subview.CallLogDetailView"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".view.GroupSearchView"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".util.CustomDialog"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".subview.SendMessageView"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <activity
            android:name=".subview.MessageDetailView"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <activity
            android:name=".subview.PhotoViewer"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <activity 
            android:name=".subview.ConfigPassword"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity 
            android:name=".subview.ExLauncher"
            android:theme="@android:style/Theme.Translucent"
            android:screenOrientation="portrait"/>
        <activity 
            android:name=".subview.CallTypeInfo"
          	android:screenOrientation="portrait"
          	android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity 
            android:name=".subview.ConfigCallSwitch"
          	android:screenOrientation="portrait"
          	android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>
    
</manifest>